.page-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 90%;
  margin-top: 5vh;
  position: relative;
}

.task-list {
  max-height: 55vh;
  min-height: 55vh;
  overflow-y: auto;
  border: none;
  width: 50vh;
  margin-top: 1vh;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.button-text {
  display: flex;
  flex-direction: column;
}

.vert-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10vh;
  margin-top: 5vh;
  position: relative;
}
.horiz-container {
  display: flex;
  gap: 5px;
  align-items: center;
  width: -webkit-fill-available;
  justify-content: center;
}
.text-input {
  width: 250px;
  height: 30px;
}
.list-header {
  font-size: x-large;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.login-form {
  margin-top: 1vh;
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}
